.goodStatus {
  border: 1px solid green;
  background-color: lightgray;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}
.badStatus {
  border: 1px solid red;
  background-color: lightgray;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
